@charset "UTF-8"; 

span.githubpages {  
	color: #FF0000; 
	font-weight: bold; 
} 

html{
	font-size: 100%;
	background-color: #1C1C1C;
	color: #F5F5F5;
}
body{
	font-family: "Noto Serif JP" ,serif;
}
/*<a>の下線を消す*/
a {
	text-decoration: none;
}
/*箇条書きの点を消す*/
ul{
	list-style: none;
}
/*横に広がりすぎないよう設定*/
.wrapper {
	max-width: 1120px;
	margin: auto;
	padding: 0 1.5rem;
}
/*英字フォント（font-english）*/
.font-english{
	font-family: "Playfair Display" ,serif;
}



/*案内表示*/
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio{
	padding: 1rem;
}
.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1rem;
	font-size: 1.5rem;
	padding: 1rem;
}

/*案内表示の色設定*/
.main-nav a{
	color: #F5F5F5;
}
.main-nav a:hover{
	color: #4E9EFF;
}

/*全画面ボーダー*/
.full-border{
	border-bottom: 3px solid #F5F5F5;
}

/*名前表示の設定*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	padding: 80px 0 px 0;
}

/*名前の漢字*/
.name-si,
.name-mei{
	writing-mode: vertical-lr;
	font-size: 7rem;
	width: 8rem;
	padding: 1rem;
	margin: 0 auto;
}

/*名前のフリガナ*/
.name-si-hurigana,
.name-mei-hurigana{
	writing-mode: vertical-lr;
	font-size: 2rem;
	padding: 5rem 3rem; 
	width: 9rem;
}

/*各見出し設定*/
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	
	border-top:3px dashed  #F5F5F5;
}
.mini-header{
	font-size: 3rem;
	margin: 1rem 0 2rem 0;
}

/*PROFILEのMain設定*/
main{
	width: 800px;
	display: flex;
	align-items: center;
}
.list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.minimini-header{
	font-size: 20px;
	font-weight: bolder;
}
.list-item{
	padding: 5px;
	text-align: center;
}

/*年表の設定*/
.timeline,{
	margin: 1rem;
}
/*Contactも使用*/
.row{
	display: flex;
	padding: 0 2rem 0 7rem;
}
.event{
	border-left: 3px solid #F5F5F5;
	padding-left: 1rem;
}
.date{
	width: 120px;
	text-align: center;
	padding-right: 1rem;
}
.date,
.event{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

/*Skillsの設定*/
.skills-head{
	text-align: right;
	padding-right: 1rem;
	width: 120px;
}
.skills-content{
	padding-left: 1rem;
	border-left: 3px solid #F5F5F5;
}
.skills-head,
.skills-content{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
/*Worksの設定*/
.works-head{
	text-align: right;
	padding-right: 1rem;
	width: 120px;
}
.works-content{
	padding-left: 1rem;
	border-left: 3px solid #F5F5F5;
}
/*Contactの設定*/
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}
.left,
.right{
	text-align: center;
}
.left{
	padding-right: 1rem;
}
.right{
	padding-left: 1rem;
}
.c-row{
	padding: 1rem 2rem;
	border-bottom: 3px solid #F5F5F5;
	width: 500px;
	justify-content: center;
}